body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h3 {
    color: darkblue;
}



ul, ol {
    margin-left: 20px;
}

.buttons {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}
